<template>
    <section>
        <button class="btn btn-info" v-on:click="value++">
            {{ value }}
        </button>
    </section>
</template>

<script>
    export default {
        data() {
            return {
                value: 1,
            }
        },
    }
</script>
